.about {
  margin-top: 141px;
}

.about-flipped .text-container {
  direction: rtl;
}

.about .text-container p {
  font-size: 29px;
}

.about .image-container::before {
  content: '';
  background: var(--bs-primary);
  position: absolute;
  z-index: -1;
  width: 252px;
  height: 206px;
  bottom: -33px;
  left: -33px;
}

.about-flipped .image-container::before {
  right: -33px;
  left: auto;
}

.about .image-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(217, 171, 0, 0.5686274509803921);
  opacity: 0.569;
}

.about .image-container .play-container {
  width: 84px;
  height: 84px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}

.about .image-container .play-container i {
  font-size: 26px;
  color: #daac00;
}
