#services {
  background-color: var(--bs-primary);
  margin-top: 139px;
  padding: 120px 0;
}

#services #servicesContainer {
  margin-top: 100px;
  justify-content: center;
}

@media (min-width: 1200px) {
  #services #servicesContainer {
    justify-content: space-between;
  }
}
